.Ball-container {
	position: relative;
	align-self: center;
	width: 35vw;
	padding-bottom: 35%;
	background-color: black;
	border-radius: 50%;
	margin-bottom: 3em;
}

.BallShake {
	display: flex;
	flex-direction: column;
}

.question {
	align-self: center;
}

input {
	padding: 500px;
	border: 0;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.shaking {
	animation-name: shake;
	animation-duration: 2s;
}

@keyframes shake {
	from {
		transform: translate3d(0, 0, 0);
	}

	15% {
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -10deg);
	}

	30% {
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 6deg);
	}

	45% {
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -6deg);
	}

	60% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}

	75% {
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}
